/*Contenedor de la barra superior */
.navbar {
    margin: 10px 10px 10px 10px;
    background-color: rgba(215, 201, 237, 0.9);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 30px;
    border-radius: 15px;
}

/*Contenedor del main*/
main {
    margin: 110px 50px 50px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center; 
    justify-content: center;
    padding: 30px 30px;
    border-radius: 5px;
}

/*Contenedor del footer*/
footer {
    margin: 50px 50px 50px 50px;
    background-color: rgba(215, 201, 237, 0.9);
    display: flex;
    flex-direction: column;
    padding: 30px 50px 15px 50px;
    border-radius: 5px;
}

.contenido-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/*Caja del menú de navegacion */
.navbar nav ul {
    display: flex;
    list-style: none; 
    margin: 5px;
    padding: 5px;
    gap: 20px; 
}

/*Fondo de la pagina */
body {
    margin : 0;
    background-image: url('../img/paisaje.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/*Altura para las imagenes del carrusel */
.imagen-carrusel {
    height: 500px;
    object-fit: cover;
}

/*Icono de redes para que se acople */
.iconoredes {
    width: 35px; 
    height: 35px; 
    margin: 0 10px; 
    object-fit: contain; 
    cursor: pointer;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.3));
}

/*Logo Destino Cordillera ajustar*/
.logo-nav {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

/*Logo usuario ajustar*/
.logo-usuario {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

/*Centrado de botones principales*/
@media (min-width: 992px) {
    .centrar-absoluto {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*Ajuste para las fotos del carrusel*/
.img-carrusel-fixed-height {
    height: 700px !important; 
    width: 100% !important; 
    object-fit: cover !important; 
    object-position: center !important; 
}

/* Ajuste para las fotos de alojamiento*/
.img-tarjeta {
    height: 250px; 
    width: 100%;
    object-fit: cover;
}


/* Efecto zoom interno para tarjetas */
.img-zoom {
    transition: transform 0.3s ease;
}

.img-zoom:hover {
    transform: scale(1.05);
}